#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.boardClass {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
}

button.normal-tiles {
	height: 150px;
	width: 150px;
	background-color: white;
	border: solid 1px black;
}

button.winning-tiles {
	height: 150px;
	width: 150px;
	background-color: green;
	border: solid 1px black;
}

.reset {
	background-color: blue;
	color: white;
	height: 50px;
	width: 200px;
	margin-top: 10px;
	border-radius: 25px;
	border: none;
	font-weight: 600;
}

.play-again {
	background-color: pink;
	color: black;
	height: 50px;
	width: 200px;
	margin-top: 10px;
	border-radius: 25px;
	border: none;
	font-weight: 600;
}

.action-bar {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.score {
	align-self: flex-start;
	text-align: left;
}

.reset:hover {
	background-color: black;
}
