.viewport {
	display: flex;
	flex-direction: column;
	justify-content: center; /* centers children vertically */
	align-items: center; /* centers children horizontally */
	/* make sure the parent container occupies 100% of viewport height */
	height: 100vh;
}

h1 {
	margin: 0; /* remove default heading margins */
	text-align: center;
	color: red;
	font-size: 2rem;
}

h3 {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;
}

.score-board {
	display: flex;
	flex-direction: row;
}

button {
	border: none;
	background: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3rem;
	font-weight: 600;
}
