#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.board-background {
	background-color: #baada0;
	width: 500px;
	aspect-ratio: 1 / 1; /* make it a square */
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
	gap: 10px; /* spacing between cells */
	padding: 10px;
}

.normal-tiles {
	width: 100%;
	aspect-ratio: 1 / 1; /* each tile is a square */
	border-radius: 6px;
	border: none;
	background-color: #cdc1b4;
	font-size: 2rem;
}

/* low tiles */
.tile-2 {
	background-color: #eee4da;
	color: #776e65;
}

.tile-4 {
	background-color: #ede0c8;
	color: #776e65;
}

.tile-8 {
	background-color: #f2b179;
	color: #f9f6f2;
}

.tile-16 {
	background-color: #f59563;
	color: #f9f6f2;
}

.tile-32 {
	background-color: #f67c5f;
	color: #f9f6f2;
}

.tile-64 {
	background-color: #f65e3b;
	color: #f9f6f2;
}

/* big boys */
.tile-128 {
	background-color: #edcf72;
	color: #f9f6f2;
}

.tile-256 {
	background-color: #edcc61;
	color: #f9f6f2;
}

.tile-512 {
	background-color: #edc850;
	color: #f9f6f2;
}

.tile-1024 {
	background-color: #edc53f;
	color: #f9f6f2;
	font-size: 1.8rem; /* slightly smaller so it fits nicely */
}

.tile-2048 {
	background-color: #edc22e;
	color: #f9f6f2;
	font-size: 1.8rem;
}
